<table>
    <tr>
        <th>Token</th>
        <th>Injected</th>
    </tr>
    <tr>
        <td><code>EXAMPLE_MODULE_HTTP_CLIENT</code></td>
        <td>{{ httpClientOk ? 'yes' : 'no' }}</td>
    </tr>
    <tr>
        <td><code>exampleService</code></td>
        <td>{{ exampleServiceOk ? 'yes' : 'no' }}</td>
    </tr>
    <tr>
        <td><code>SECRET_MESSAGE</code></td>
        <td>{{ secretMessageOk ? 'yes' : 'no' }}</td>
    </tr>
    <tr>
        <td><code>MAGIC_NUMBER</code></td>
        <td>{{ magicNumberOk ? 'yes' : 'no' }}</td>
    </tr>
    <tr>
        <td><code>REFERENCE_DATE</code></td>
        <td>{{ referenceDateOk ? 'yes' : 'no' }}</td>
    </tr>
</table>
