<table>
    <tr>
        <th>Token</th>
        <th>Injected</th>
    </tr>
    <tr>
        <td><code>EXAMPLE_MODULE_HTTP_CLIENT</code></td>
        <td>{{ httpClientOk ? 'yes' : 'no' }}</td>
    </tr>
    <tr>
        <td><code>ExampleService</code></td>
        <td>{{ exampleServiceOk ? 'yes' : 'no' }}</td>
    </tr>
    <tr>
        <td><code>SECRET_MESSAGE</code></td>
        <td>{{ secretMessageOk ? 'yes' : 'no' }}</td>
    </tr>
    <tr>
        <td><code>MAGIC_NUMBER</code></td>
        <td>{{ magicNumberOk ? 'yes' : 'no' }}</td>
    </tr>
    <tr>
        <td><code>REFERENCE_DATE</code></td>
        <td>{{ referenceDateOk ? 'yes' : 'no' }}</td>
    </tr>
    <tr>
        <td><code>counterValue</code></td>
        <td>{{ counterValue }}</td>
    </tr>
    <tr>
        <td><code>NumberStorage</code></td>
        <td>{{ numberStorageOk ? 'yes' : 'no' }}</td>
    </tr>
    <tr>
        <td><code>L33tNumberStorage</code></td>
        <td>{{ l33tNumberStorageOk ? 'yes' : 'no' }}</td>
    </tr>
</table>
